@import "./src/styles/variables";

button {
  font-family: 'Roboto', sans-serif;
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler * 20;
  padding: $ruler;
  background-color: $color-bg;
  text-shadow: 1px 1px 0 $color-white;
  margin-top: $ruler * 1.5;
  color: $color-gray;
  box-shadow: -5px -5px 20px $color-white,
  5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 700;

  &:hover {
    box-shadow: -2px -2px 5px $color-white,
    2px 2px 5px $color-shadow;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow,
    inset -1px -1px 2px $color-white;
  }

  &:disabled{
    cursor: not-allowed;
    background-color: #c0c0c0;
  }

  .icon {
    margin-right: $ruler / 2;
  }

  svg {
    margin-right: 5px;
  }

  &.red {
    display: block;
    width: 100%;
    color: $color-red;
    animation: shake 10s ease-in infinite alternate;
    &:hover {
      animation-play-state: paused;
    }
    svg {
      fill: $color-red;;
    }
  }

  &.green {
    display: block;
    width: 100%;
    color: $color-green;

    svg {
      fill: $color-green;;
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  2%,
  4%,
  6%,
  8% {
    transform: translate(0.8em);
  }
  1%,
  2%,
  5% {
    transform: translate(-.2em);
  }
  7%,
  10% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}