@import "../../styles/variables";

.wrapper {
  width: 80vw;
  margin: 0 auto;
  height: 88vh;
}

.heading {
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 27px;
  letter-spacing: -0.5px;
  color: var(#{--news-text_main-color-default});
  text-shadow: none;
  margin: 10px 0 10px 1%;
}

.list {
  height: 93%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.button {
  background-color: var(#{--news-background-light});
  position: fixed;
  bottom: 20px;
  right: 10vw;
  z-index: 1;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 50px;
  transform: translate(-50%);
  opacity: 0;
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler * 20;
  text-shadow: 1px 1px 0 $color-white;
  color: $color-gray;
  box-shadow: -5px -5px 20px $color-white,
  5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: -2px -2px 5px $color-white,
    2px 2px 5px $color-shadow;
  }
}

.button > svg {
  color: var(#{--news-text_main-color-default});
  height: 50px;
  width: 50px;
}

.showButton {
  opacity: 1;
  transition: 1s;
}

.loader {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 980px) {
  .button {
    bottom: 30px;
    right: 8vw;
    height: 40px;
    width: 40px;
  }
  .button > svg {
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 870px) {
  .button {
    bottom: 100px;
  }
}